---
import whatsapp from "../assets/whatsapp.svg"
import gmail from "../assets/gmail.svg"
import platzi from "../assets/platzi.avif"
import stanford from "../assets/Stanford_University.png"
import ucl from "../assets/ucl.jpeg"
import { getFirstThreeCertificates } from "../utils/putCertificados.js";
const firstThreeCerts = getFirstThreeCertificates();
---
<section id="about" class="flex flex-col lg:flex-row items-center justify-center gap-16 h-auto w-full text-center lg:text-right">
    <div class="flex flex-col w-full lg:max-w-3xl lg:w-[50vw] mb-6 p-8 lg:mb-0">
        <div class="about-text-title">
            <h2 class="text-[12vw] sm:text-[7vw] lg:text-[2vw] ml-7 font-bold text-black text-left">Who is Miguel Angel Castillo? 
            <span>MIGUE.</span><span class="text-transparent custom-stroke2">dev</span></h2>
        </div> 
        <div>
            <p class="text-base lg:text-[15px] sm:text-[12px] text-justify ml-11 mt-4 w-[30vw] text-p">I am someone who enjoys learning and finding solutions to all kinds of problems. I’m Ecuadorian, born in a wonderful place called Mira, located in the Carchi canton. As a person, I consider myself responsible, dedicated, and above all, respectful.
            I work hard and am always looking for solutions that create positive outcomes. I’m driven by continuous growth and a strong commitment to everything I undertake.</p>
            <h3 class="text-xl text-left font-bold ml-11 mt-6">Contactos:</h3>
            <a class="about-text-a flex items-center gap-2 ml-11 mt-2" href="https://web.whatsapp.com"><img class="w-5 h-5" src={whatsapp.src} alt="">+593 99 511 0920</a>
            <a class="about-text-a flex items-center gap-2 ml-11 mt-2" href="https://web.whatsapp.com"><img class="w-5 h-5" src={gmail.src} alt="">filia.castillo@gmail.com</a>
        </div>
    </div>
    <div class="w-[50vw] sm:w-2/3 lg:w-[50vw] lg:ml-10 dev-img border-left border-black">
        <h3 class="text-[12vw] sm:text-[7vw] lg:text-[2vw] text-left font-bold mt-6">Studys</h3>
        <div>
            <div class="flex items-center gap-2  mt-2">
                <img class="w-5 h-5" src={ucl.src} alt="">
                <h4 class="text-xl text-left font-bold">University Cristiana Latinoamericana</h4>
            </div>
            <li class="text-xl text-left mt-2">Psicology</li>
        </div>
        <div>
            <div class="flex items-center gap-2 mt-2">
                <img class="w-5 h-5" src={platzi.src} alt="">
                <h4 class="text-xl text-left font-bold">Platzi</h4>
            </div>
            <li class="text-xl text-left mt-2">Developer</li>
            <div class="grid grid-cols-3 w-[20vw] h-24 gap-2 mt-4 ">
                {firstThreeCerts.map((certUrl, index) => (
                    <img 
                      class="w-50 h-50 hover:scale-110 transition-all duration-300 inline-block will-change-transform" 
                      src={certUrl} 
                      alt={`Certificado ${index + 1}`}
                    />
                ))}
            </div>
            <div class="flex justify-start"> 
                <button class="bg-black text-white text-[12px] px-4 py-2 rounded-full hover:scale-110 transition-all duration-300 inline-block will-change-transform">Ver más</button>
            </div>
        </div>
        <div>
            <div class="flex items-center gap-2 mt-2">
                <img class="w-5 h-5" src={stanford.src} alt="">
                <h4 class="text-xl text-left font-bold">Stanford University-Cursos</h4>
            </div>
            <li class="text-xl text-left mt-2">Python</li>
        </div>
    </div>
</section>

<script>
    import { initAboutAnimations } from '../animations/aboutAnimations.js';
    
    // Ejecutar cuando el DOM esté listo
    window.addEventListener('load', () => {
        initAboutAnimations();
    });
</script>